body{
    background-color: lightblue;
}

h1{
    color: white;
    border-bottom: 1px solid rgb(34, 99, 34);
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.row{
    width: 900px;
  
}
#controlDiv{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    border-radius: 5px;
    background-color: rgb(31, 63, 31);
    color: white;
    padding: 5px;

}

.flex{
    display: flex;
    flex-direction: column;
}

#ColorInput{
    width: 130px;
    height: 60px;
    padding: 0;
    border: 1px solid white;
}


#squaresPerSide{
    width: 420px;
    background-color: rgb(15, 42, 51);
    align-items: center;
    line-height: 40px;
}


#gridContainer {
    display: flex;
    flex-wrap: wrap;
    border-radius: 5px;
    background-color: white;    
    border: 1px solid;
    width: 900px; /* Adjust to fit the container */
    height: auto;
    min-height: 80vh;
    padding: 0;
    justify-content: flex-start; /* Start at the beginning */
    border: 1px solid brown;
}
.square {
    width: calc(900px / var(--squares-per-side)); 
    height: calc(80vh / var(--squares-per-side)); 
    margin: 0px;
    box-sizing: border-box;
}
